body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-image: url(../images/time_square_bg.jpg);
    background-size: 100% auto;
    overflow-x: hidden;
}

.wide-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 70px 0px;
    opacity: 0.98;
}

.banner {
    font-style: italic;
    font-size: 400%;
    text-align: center;
}
    .red-time-square {
        color: rgba(30, 30, 240, 1);
        background-color: rgba(240, 30, 30, 1);
        margin-top: 30px;
    }
    .green-time-square {
        color: rgba(240, 130, 30, 1);
        background-color: rgba(30, 240, 30, 1);
    }
    .purple-time-square {
        color: rgba(240, 240, 30, 1);
        background-color: rgba(170, 30, 240, 1);
    }

.upset-woman-container {
    width: 100%;
    text-align: center;
    margin: -20px 0px;
}
    .upset-woman {
        width: 100%;
        height: 150px;
        opacity: 0.9;
    }

.main-text-container {
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
}
    .main-text {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 160%;
        color: #eee;
        font-weight: 100;
        letter-spacing: 1px;
    }

.map-container {
    background-color: #eee;
    color: #222;
    text-align: center;
}
    .map-container-header {
        margin-bottom: 10px;
        font-size: 180%;
    }
    .map-image-container {

    }
        .map-image {
            max-width: 99%;
            border: 3px solid red;
        }

.helpful-tips-container {
    text-align: center;
    background-color: rgb(60, 90, 250);
    color: rgb(252, 252, 252);
    font-size: 135%;
    font-weight: 700;
}
    .helpful-tips {

    }
        .helpful-tip {
            font-size: 90%;
            margin: 10px 0px;
        }
            .helpful-tip-image {
                vertical-align: middle;
                max-width: 99%;
            }
            .details-image {
                height: 200px;
            }
            .special-comment-1 {
                margin: 5px 0px;
            }
            .special-comment-2 {
                height: 70px;
                margin: 5px 0px;
            }
            .special-comment-3 {  
                margin: 5px 0px;
                height: 120px;
            }
            .special-comment-4 {
                margin: 5px 0px;
                height: 225px;
            }

.directions-container {
    text-align: center;
    background-color: rgb(225, 225, 60);
    color: rgb(0, 0, 80);
}
    .directions-header {
        font-size: 130%;
        margin-bottom: 10px;
    }
    .directions-image {
        max-width: 99%;
        height: 100px;
        vertical-align: middle;
    }
    .directions-text { 
        font-size: 150%;
        font-weight: 100;
    }
        .directions-text a {
            color: rgb(120, 40, 120);
        }
            .directions-text a:hover, .directions-text a:focus {
                color: rgb(160, 60, 160);
            }

.footer {
  background-color: rgba(225, 225, 225, 1);
  color: #333;
  text-align: center;
  font-size: 100%;
  margin-bottom: 0px;
}
    .footer a {
        color: rgba(60, 60, 240, 0.9);
        text-decoration: none;
    }
         .footer  a:hover, footer a:focus {
            color: rgba(90, 95, 255, 1.0);
        }