body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-image: url(../images/time_square_bg.jpg);
    background-size: 100% auto;
    overflow-x: hidden;
}

.wide-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 70px 0px;
    opacity: 0.98;
}

.banner {
    font-style: italic;
    font-size: 400%;
    text-align: center;
}
    .red-time-square {
        color: rgba(30, 30, 240, 1);
        background-color: rgba(240, 30, 30, 1);
    }
    .green-time-square {
        color: rgba(240, 130, 30, 1);
        background-color: rgba(30, 240, 30, 1);
    }
    .purple-time-square {
        color: rgba(240, 240, 30, 1);
        background-color: rgba(170, 30, 240, 1);
    }

.main-text-container {
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
}
    .main-text {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 160%;
        color: #eee;
        font-weight: 100;
        letter-spacing: 1px;
    }

.map-container {
    background-color: #eee;
    color: #222;
    text-align: center;
}
    .map-container-header {
        margin-bottom: 10px;
        font-size: 180%;
    }
    .map-image-container {

    }
        .map-image {
            max-width: 99%;
            border: 1px solid red;
        }

.helpful-tips-container {
    text-align: center;
    background-color: rgb(60, 90, 250);
    color: rgb(252, 252, 252);
}
    .helpful-tips {

    }

.footer {
  background-color: rgba(225, 225, 225, 1);
  color: #333;
  text-align: center;
  font-size: 100%;
  margin-bottom: 0px;
}